doctype html
html(lang='fr')
    head
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        title Connexion
        // CSS THEME
        link(rel='stylesheet' href='resources/css/vendor.bundle.base.css')
        link(rel='stylesheet' href='resources/css/style.css')
    body#body
        .container-scroller
            .container-fluid.page-body-wrapper.full-page-wrapper
                .content-wrapper.d-flex.align-items-center.theme-one
                    .row.w-100.mx-auto
                        .col-lg-8.col-xl-4.mx-auto
                            .auto-form-wrapper
                                .row.mt-5
                                    .col-12
                                        img.mt-5.col-4.offset-4.col-md-2.offset-md-5.col-xl-4.offset-xl-4.img-fluid(src='resources/img/sport_track.png')
                                        form.mt-5(action='' method='POST')
                                            .row
                                                .col-10.offset-1.col-md-6.offset-md-3
                                                    .form-group
                                                        label Email :
                                                        input.form-control.form-control-lg(type='email' name='email')
                                                .col-10.offset-1.col-md-6.offset-md-3
                                                    .form-group
                                                        label Mot de passe :
                                                        input.form-control.form-control-lg(type='password' name='pwd')
                                            input(type='hidden' name='page' value='user_connect')
                                            .row
                                                .col-10.offset-1.col-md-6.offset-md-3.mb-2
                                                    button.btn.btn-block.btn-primary(type='submit') Connexion
                                        a(href='/')
                                            .row
                                                .col-10.offset-1.col-md-6.offset-md-3.mt-2
                                                    button.btn.btn-block.btn-primary.return(type='submit') Retour
