doctype html
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        table(border='1')
            thead
                tr
                    th Nom
                    th Prénom
                    th Date de naissance
            tbody
                each val in data
                    tr
                        td= val.email
                        td= val.firstName
                        td= val.lastName